.vs
bin
bin-int
vendor/glad
vendor/Premake
vendor/stb
vendor/ffmpeg
vendor/escapi
vendor/dlib

*.vcxproj*
*.sln

Photoxel/assets/*.ttf
Photoxel/assets/*.png
Photoxel/assets/*.jpg
Photoxel/assets/*.ico
Photoxel/assets/*.ini
Photoxel/assets/*.pdf
Photoxel/assets/*.dll
Photoxel/assets/*.lib
Photoxel/assets/*.dat
Photoxel/src/IconsFontAwesome5.h
Photoxel/src/stb_image.h

Photoxel/assets/*.mp4
